<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Offers Sys</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <%= render 'layouts/nav' %>

    <!-- Page Content -->
    <div class="container">
      <%= yield %>
    </div>

    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
