<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Offers Sys</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css" integrity="sha256-MSeNrYhmfZbyTUAhVy7w153T7LFxQfCf/DBDjtbvZdg=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js" integrity="sha256-zZFgUYWREnXJDw3PMQASiGmzHVL+VNfcA5eaXhipwag=" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Navigation -->
    <%= render 'layouts/nav' %>

    <!-- Page Content -->
    <div class="container">
      <%= yield %>
    </div>

    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
